<div class="flex space-x-6 text-white">
    <a href="{% url 'home' %}" class="hover:text-blue-300 transition">Home</a>
    <a href="{% url 'about_us' %}" class="hover:text-blue-300 transition">About</a>
    <a href="{% url 'services' %}" class="hover:text-blue-300 transition">Services</a>
    <a href="{% url 'contact_us' %}" class="hover:text-blue-300 transition">Contact</a>
    <a href="{% url 'login' %}" class="hover:text-blue-300 transition">Login</a>
    <a href="{% url 'signup' %}" class="hover:text-blue-300 transition">Sign Up</a>
</div>
