{% extends "base.html" %}
{% block tasks %}
    <div class='mx-auto w-full my-9 text-black'>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form method='POST' enctype='multipart/form-data'class='bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'>
            {% csrf_token %}
            {{ form }}
            <button class='bg-blue-500 px-2 py-1 rounded text-white mt-3' type="submit">Update Profile</button>
        </form>
    </div>
{% endblock tasks %}